<h1 class="my-2">退会の確認</h1>

<%= render 'layouts/error_messages', model: current_user %>

<hr>
<p>退会した場合、ユーザに関するデータが全て削除されます。</p>
<p>ただし、以下の場合は退会できません。</p>
<ul>
  <li>公開中の未終了イベントがある場合</li>
  <li>未終了の参加イベントがある場合</li>
</ul>
<hr>
<%= link_to "退会する", user_path, method: :delete, class: "btn btn-danger"%>
